<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
  <div class="navbar navbar-fixed-top">
      <h1 class="page-header"> Get the best loan suggestion for your MOM!</h1>
  </div>
    {{{body}}}
  </body>
</html>
