<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">


    <div class="container-fluid">
        <div class="row">

            <h1 class="page-header"> Get the best loan suggestion for your MOM!</h1>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 10vh">
    <div class="row">

        {{{body}}}
    </div>
</div>
</body>
</html>
