body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.selectedBest{
  background-color: limegreen;
  border-radius: 5vh;
  padding: 40px;
  margin: 40px;
}

.notselectedBest{
  background-color: #e4b9b9;
  border-radius: 5vh;
  padding: 40px;
  margin: 40px;
}